<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="hap">
        <div class="hap__meta">
          <a href="/+{{ hap.organizer.username }}">
            {{ hap.organizer.username }}
          </a>
        </div>

        <div class="hap__content">
          {{ hap.title }}
          <br>
          {{ hap.desc }}
          <br>
          {{ hap.location }}
          <br>
          {{ hap.time }}
        </div>
        <div ng-show="{{ hap.isHost }}">
          <button type="button" class="btn btn-primary" ng-click="vm.editHap()">Edit</button>
        </div>
        <div ng-show="!{{ hap.isHost }}">
          <button type="button" class="btn btn-primary" ng-click="vm.acceptInvite()">Accept</button>
          <button type="button" class="btn btn-primary" ng-click="vm.declineInvite()">Decline</button>
        </div>
      </div>
    </div>
  </div>
</div>
