.no-haps-here {
  text-align: center;
}

.hap {}

.hap .hap__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.hap .hap__meta a:hover {
  text-decoration: none;
}

.btn-add-new-hap {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.no-friends-here {
  text-align: center;
}

.friend {}

.friend .friend__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.friend .friend__meta a:hover {
  text-decoration: none;
}
