<div >
      <md-card  class='animate-slide' ng-class="moveDir" md-swipe-left="onSwipeLeft($event)" md-swipe-right="onSwipeRight($event)" style="width: 100%;">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{headline}}</span>
            <span class="md-subhead">{{subhead}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="onSwipeLeft($event)" >{{leftbuttontext}}</md-button>
          <md-button ng-click="onSwipeRight($event)">{{rightbuttontext}}</md-button>
        </md-card-actions>
      </md-card>

</div>
