<!-- <div class="row" ng-cloak>
  length in places directive =  {{hi.places.length}}
  <div class="col-md-6 col-md-offset-3">
    <div ng-repeat="place in hi.places">
      <place place="place"></place>
      {{place.nickname}}: {{place.address}}
    </div>
  </div>

  <div ng-hide="hi.places && hi.places.length">
    <div class="col-sm-12 no-places-here">
      <em>You have not saved any places length =  {{hi.places.length}} </em>
    </div>
  </div>
</div> -->

<md-list  ng-cloak>
  <md-subheader class="md-no-sticky">Clickable Items with Secondary Controls</md-subheader>
  <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="place in hi.places">
    <p> {{ place.nickname }} </p>
    <md-icon md-svg-icon='editor:mode_edit'></md-icon>
    <!-- <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch> -->
    <md-divider></md-divider>
  </md-list-item>


</md-list>
