<!-- <div class="row" ng-cloak>
  length in places directive =  {{hi.places.length}}
  <div class="col-md-6 col-md-offset-3">
    <div ng-repeat="place in hi.places">
      <place place="place"></place>
      {{place.nickname}}: {{place.address}}
    </div>
  </div>

  <div ng-hide="hi.places && hi.places.length">
    <div class="col-sm-12 no-places-here">
      <em>You have not saved any places length =  {{hi.places.length}} </em>
    </div>
  </div>
</div> -->

<!-- <div class="col-md-2">
  <input ng-model="query" placeholder="Search for...">
</div> -->

<md-toolbar md-theme="altTheme">
    <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
      <!-- <h1>favorite places</h1> -->
      <md-button class="md-icon-button" aria-label="Back button" layout-align="left">
        <md-icon md-svg-icon="navigation:arrow_back" ng-click="hi.fireCancelEvent();" style="color: white;"></md-icon>
      </md-button>

      <md-button ng-show="!hi.showFilter" class="md-icon-button" aria-label="Filter button" flex  layout-align="center">
        <md-icon md-svg-icon="content:filter_list" ng-click="hi.showFilter=true" ng-show="!hi.showFilter" style="color: white;"></md-icon>
      </md-button>

      <md-input-container ng-show="hi.showFilter"  class="md-icon-float" flex layout="row" layout-align="center" style="color:red;"  >
        <!-- md-autofocus doesn't work because of ng-show; using focus-on from Utils.helpers -->
        <input  ng-model="query" focus-on="hi.showFilter" style="color:red;"  aria-label="Filter"  >
        <md-button class="md-icon-button" aria-label="Close button" layout-align="right" aria-label="Close Filter" >
          <md-icon md-svg-icon="content:clear" ng-click="hi.cancelFilter();" style="color: white;"></md-icon>
        </md-button>
      </md-input-container>

      <md-button  class="md-icon-button" aria-label="New button" layout-align="right">
        <md-icon md-svg-icon="action:search" ng-click="hi.newPlace($event)" style="color: white;"></md-icon>
      </md-button>

      <!-- <md-button class="md-flat" ng-click="hi.newPlace($event)">
        <md-icon class="md-secondary" aria-label="new" md-svg-icon='action:search'></md-icon>
        new
      </md-button> -->

    

    </div>
  </md-toolbar>



<!-- <div ng-hide="mode == 'display';">
  <p>
    <location-picker id="location" ng-model="location" place="place" class="form-control" placeholder="Hap location" ng-required="true"></location-picker>
  </p>
</div> -->

<md-list  ng-cloak>
  <!-- <md-subheader class="md-no-sticky">My Places
  </md-subheader> -->
  <md-list-item ng-click="hi.fireSelectedPlaceEvent($event, place)" ng-repeat="place in (filteredPlaces = (hi.places | filter:query)) ">
    <p> <b> {{ place.nickname }} </b> <br> {{ place.address }}</p>
    <md-icon class="md-secondary" ng-click="hi.editPlace($event, place)" aria-label="Edit" md-svg-icon='editor:mode_edit'></md-icon>
    <md-divider></md-divider>
  </md-list-item>
</md-list>
<!-- {{status}} -->

<!-- <div>
  <p>
    <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom" draggable="true">
      <ui-gmap-search-box template="searchbox.template" events="searchbox.events">
      </ui-gmap-search-box>
    </ui-gmap-google-map>
  </p>
</div> -->
