<div>
  <div class="toolbardemoBasicUsage">
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
            btn
            <!-- <md-icon md-svg-icon="ion-android-menu"></md-icon> -->
          </md-button>
          <h2 style="color:white;">
            <span>Toolbar with Icon Buttons</span>
          </h2>
        </div>
      </md-toolbar>
    </md-content>
  </div>
  <div id="sidebar" layout="column">
    <section layout="row" flex="">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2 menubar" md-component-id="left">
          <ul id="side-menu">
            <li ui-sref="site.private.content.haps" ng-click="toggleLeft()">
              Haps
            </li>
            <li ui-sref="site.private.content.friends" ng-click="toggleLeft()">
              Friends
            </li>
            <li ui-sref="site.public.index" ng-click="toggleLeft()">
              public
            </li>
          </ul>
        </md-content>
      </md-sidenav>
    </section>
  </div>
</div>

<ui-view/>
