<div>
  <div class="toolbardemoBasicUsage">
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools md-whiteframe-5dp" style="position: relative;z -index:30 !important;">
          <md-button class="md-icon-button" aria-label="Settings" ng-click="hi.toggleLeft()">

            <md-icon md-svg-icon="navigation:menu" aria-label="menu"></md-icon>
          </md-button>
          <h2 style="color:white;">
            <span>Toolbar with Icon Buttons</span>
          </h2>
        </div>
      </md-toolbar>
    </md-content>
  </div>
  <div id="sidebar" layout="column">
    <section layout="row" flex="">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2 menubar" md-component-id="left">
          <ul id="side-menu">
            <li>
              <img ng-src="{{hi.avatar}}" class="md-avatar img-circle"height="42" width="42"  alt="{{hi.username}}" />
              {{hi.username}}
            </li>
            <li ui-sref="site.private.content.haps" ng-click="hi.toggleLeft()">
              <md-icon md-svg-icon="action:event" aria-label="haps"></md-icon>
              Haps
            </li>
            <li ui-sref="site.private.content.friends" ng-click="hi.toggleLeft()">
              <md-icon md-svg-icon="social:people" aria-label="friends"></md-icon>
              Friends
            </li>

            <!-- <li ui-sref="site.public.index" ng-click="toggleLeft()">
              logout
            </li> -->
            <li>
              <md-icon md-svg-icon="action:eject" aria-label="logout"></md-icon>
              <a href ng-click="hi.logout()">Logout</a>
            </li>
          </ul>
        </md-content>
      </md-sidenav>
    </section>
  </div>
</div>
