<div ng-controller="TestCtrl">
  THIS IS in private.TEMP: user: {{username}}
  <br>
  -----------------------------------------
</div>
================================

<!-- index.tpl.html -->
<div data-ui-view></div>
<!-- admin.tpl.html -->
<div data-ui-view="menu"></div>
<div data-ui-view="sidebar"></div>
<div data-ui-view></div><!-- Nested content goes here -->

$stateProvider
            .state('admin', { // Menu + Sidebar + Ui-view for nested content
                abstract: true,
                url: '/admin',
                views: {
                    '': {
                        templateUrl: 'app/admin/admin.tpl.html'
                    },
                    'menu@admin': {
                        templateUrl: 'app/admin/menu.tpl.html'
                    },
                    'sidebar@admin': {
                        templateUrl: 'app/admin/sidebar.tpl.html'
                    }
                }
            })
            .state('admin.index', {  // Nested content
                url: '',
                templateUrl: 'app/admin/home/admin-home-index.tpl.html'
            });
