<!DOCTYPE html>
<html ng-app="flashweb">
<head>
  <title>flashweb</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view">

      </div>
    </div>
  </div>

  <!-- Snackbar Directive -->
  <div class="snackbar-container"
      data-snackbar="true"
      data-snackbar-duration="2000"
      data-snackbar-remove-delay="500">
  </div>     

{% load staticfiles %}

{% include 'javascripts.html' %}



</body>
</html>
