
<md-toolbar md-theme="altTheme">
    <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
      <!-- <h1>favorite places</h1> -->
      <md-button class="md-icon-button" aria-label="Back button" layout-align="left">
        <md-icon md-svg-icon="navigation:arrow_back" ng-click="hi.fireCancelEvent();" style="color: white;"></md-icon>
      </md-button>

      <div ng-show="hi.showFilter" flex layout-align="center" >
        <!-- md-autofocus doesn't work because of ng-show; using focus-on from Utils.helpers -->
        <input  ng-model="friendsquery" focus-on="hi.showFilter" class="form-control"  placeholder="Filter" style="color:red;"  aria-label="Filter"  >
      </div>

      <md-button ng-show="hi.showFilter"  class="md-icon-button" layout-align="right" aria-label="Cancel Filter" >
        <md-icon md-svg-icon="content:clear" ng-click="hi.cancelFilter();" style="color: white;"></md-icon>
      </md-button>

      <div ng-hide="hi.showFilter" flex layout-align="center">
        <span ></span>
      </div>

      <md-button ng-hide="hi.showFilter" class="md-icon-button" aria-label="Filter button"  layout-align="right">
        <md-icon md-svg-icon="content:filter_list" ng-click="hi.showFilter=true" style="color: white;"></md-icon>
      </md-button>

    </div>

  </md-toolbar>

<!-- <md-subheader class="md-no-sticky">Friends</md-subheader> -->
<md-virtual-repeat-container style="height: 300px">
  <md-list>
    <md-list-item md-virtual-repeat="friend in hi.friends | filter:friendsquery"
                  ng-click="hi.toggle(friend, hi.guestlist)">
      <p> {{ friend.select.username }} </p>

      <md-checkbox class="md-secondary"
                  ng-click="hi.toggle(friend, hi.guestlist)"
                  ng-checked="hi.exists(friend, hi.guestlist)"
                  id="{{ friend.select.username }}"></md-checkbox>
  </md-list>
</md-virtual-repeat-container>

<div  layout="row">
        <md-button class="md-icon-button" aria-label="Cancel" layout-align="left">
          <md-icon md-svg-icon="content:clear" ng-click="hi.clearGuestlist();" style="color: red;"></md-icon>
        </md-button>

        <span flex></span>

        <md-button class="md-icon-button" aria-label="Done" layout-align="right">
          <md-icon md-svg-icon="action:done" ng-click="hi.fireSelectedGuestsEvent();" style="color: green;" ></md-icon>
        </md-button>
  </div>

<!-- <a class="btn btn-primary" ng-click="hi.tester()">see guestlist</a> -->
