<md-subheader class="md-no-sticky">Friends</md-subheader>
<md-input-container class="md-icon-float">
  <input ng-model="friendsquery" placeholder="Search for...">
</md-input-container>
<md-virtual-repeat-container style="height: 300px">
  <md-list>
    <md-list-item md-virtual-repeat="friend in hi.friends | filter:friendsquery"
                  ng-click="hi.toggle(friend, hi.guestlist)">
      <p> {{ friend.select.username }} </p>

      <md-checkbox class="md-secondary"
                  ng-click="hi.toggle(friend, hi.guestlist)"
                  ng-checked="hi.exists(friend, hi.guestlist)"
                  id="{{ friend.select.username }}"></md-checkbox>
  </md-list>
</md-virtual-repeat-container>

<!-- <a class="btn btn-primary" ng-click="hi.tester()">see guestlist</a> -->
