<div class="card">

  <div class="content">
    <span class="title">My Haps</span>
    <p>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div ng-repeat="hap in hi.list | filter:query">
          <!-- <friend friend="friend"></friend> -->
          <p>
          {{hap.title}}: {{hap.desc}}
        </p>
        <br>        
        </div>
      </div>
      I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
      I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
    </p>
  </div>
  <div class="content">
    <span class="title">Haps</span>
    <p>
      I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
      I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
    </p>
  </div>
</div>

<mfb-menu position="br" effect="zoomin" bgcolor="#F44336"
     active-icon="ion-android-add"
     resting-icon="ion-android-more-vertical"
     toggling-method="click"
     label="add" class="hapsFAB">
  <mfb-button bgcolor="#2980b9" label="all" icon="ion-home"></mfb-button>
  <mfb-button bgcolor="#16a085" label="going" icon="ion-checkmark"></mfb-button>
  <mfb-button bgcolor="#BF55EC" label="invited" icon="ion-help"></mfb-button>
  <mfb-button bgcolor="#F4B350" label="open" icon="ion-android-locate"></mfb-button>
</mfb-menu>
