<div class="card">

  <div class="content1">
    <span class="title">My Haps</span>
      <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div ng-repeat="hap in hi.list | filter:query">
          <p>
          {{hap.title}}: {{hap.desc}}
        </p>
        </div>
      </div> -->


  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="hap in hi.list | filter:query">
        <div class="id{{hap.id}}">
          <p>{{hap.title}}: {{hap.desc}}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>


  </div>
</div>

<mfb-menu position="br" effect="zoomin" bgcolor="#F44336"
     active-icon="ion-android-add"
     resting-icon="ion-android-more-vertical"
     toggling-method="click"
     label="" class="hapsFAB">
     <mfb-button bgcolor="#F44336" label="add" icon="ion-home" ui-sref="site.private.content.newhap"></mfb-button>
  <mfb-button bgcolor="#2980b9" label="all" icon="ion-home"></mfb-button>
  <mfb-button bgcolor="#16a085" label="going" icon="ion-checkmark"></mfb-button>
  <mfb-button bgcolor="#BF55EC" label="invited" icon="ion-help"></mfb-button>
  <mfb-button bgcolor="#F4B350" label="open" icon="ion-android-locate"></mfb-button>
</mfb-menu>


<script>
    var a2 = Swiped.init({
        query: '.id5',
        right: 400,
        left: 400,
        onOpen: function() {
            this.destroy(true)
        },
        onClose: function() {
            console.log('close')
        }
    });
</script>
