<md-content>
<div>
  <md-list>
    <md-list-item ng-repeat="hap in hi.list | filter:query">
      <md-card md-swipe-left="onHapSwipeLeft(null,hap)" md-swipe-right="onHapSwipeRight(null,hap)" layout-fill>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{hap.title}}</span>
            <span class="md-subhead">{{hap.desc}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="onHapSwipeLeft(null,hap)" >left</md-button>
          <md-button ng-click="onHapSwipeRight(null,hap)">right</md-button>
        </md-card-actions>
      </md-card>
    </md-list-item>
  </md-list>
</div>
</md-content>

<mfb-menu position="br" effect="zoomin" bgcolor="#F44336"
     active-icon="ion-android-add"
     resting-icon="ion-android-more-vertical"
     toggling-method="click"
     label="" class="hapsFAB">
     <mfb-button bgcolor="#F44336" label="add" icon="ion-home" ui-sref="site.private.content.newhap"></mfb-button>
  <mfb-button bgcolor="#2980b9" label="all" icon="ion-home"></mfb-button>
  <mfb-button bgcolor="#16a085" label="going" icon="ion-checkmark"></mfb-button>
  <mfb-button bgcolor="#BF55EC" label="invited" icon="ion-help"></mfb-button>
  <mfb-button bgcolor="#F4B350" label="open" icon="ion-android-locate"></mfb-button>
</mfb-menu>


<script>
    var a2 = Swiped.init({
        query: '.id5',
        right: 400,
        left: 400,
        onOpen: function() {
            this.destroy(true)
        },
        onClose: function() {
            console.log('close')
        }
    });
</script>
