<div ng-cloak >

  <div  layout-align="center start" layout="row" layout-fill   style="position: relative;z-index: 20 !important;" >
    <md-content class="md-toolbar-tools md-whiteframe-3dp" flex="100" layout="row" layout-align="space-around center" >

        <md-icon md-svg-icon='action:label' ng-click="hi.showNameAndDesc()"  aria-label="name"></md-icon>

        <md-icon md-svg-icon='action:schedule' ng-click="hi.showPicker($event)" aria-label="when"></md-icon>

        <md-icon md-svg-icon='maps:place' ng-click="hi.showPlaces($event)" aria-label="where"></md-icon>

        <md-icon md-svg-icon='social:people' ng-click="hi.showGuests($event)" aria-label="who"></md-icon>


          <div>
            <md-menu >
              <md-button aria-label="Open options" class="md-icon-button" ng-click="hi.openOptionsMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-icon="notification:more"></md-icon>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button ng-click="hi.showTodo($event)" layout-align="center center">
                    <md-icon md-svg-icon="action:assignment" md-menu-align-target></md-icon>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="hi.showTodo($event)" layout-align="center center">
                    <md-icon md-svg-icon="other:gift" md-menu-align-target></md-icon>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>

    </md-content>
  </div>

  <!-- <div  layout-align="center start" layout="row" layout-fill  style="padding-bottom: 32px; position: relative; z-index: 15 !important;" >
    <md-content class="md-toolbar-tools md-whiteframe-2dp" flex="100" layout="row" layout-align="space-around center" >
        <md-icon md-svg-icon='action:assignment' aria-label="todo"></md-icon>
    </md-content>
  </div> -->

  <md-content>
    <span flex style="height: 32px;" ></span>
  </md-content>

<div layout="row" layout-wrap>
          <div ng-show="hi.theHap.name || hi.theHap.desc " flex="50" flex-sm="100" flex-xs="100" layout="column">
            <md-card>
              <md-card-actions layout="row" layout-align="start right">
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Favorite">
                  <md-icon md-svg-icon="content:clear" ng-click="hi.resetTheNameAndDesc();" style="color: red;"></md-icon>
                </md-button>
              </md-card-actions>
              <md-card-content>
                {{hi.theHap.name}}
                <br>
                {{hi.theHap.desc}}
              </md-card-content>
            </md-card>
          </div>

          <div ng-show="hi.theHap.location" flex="50" flex-sm="50" flex-xs="50" layout="column">
            <md-card>
              <!-- <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">hi.theHap.nickname</span>
                  <span class="md-subhead">hi.theHap.address</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-sm card-media"></div>
                </md-card-title-media>
              </md-card-title> -->
              <md-card-actions layout="row" layout-align="start right">
                <span flex></span>
                <!-- <div  layout-align="start right" >   -->
                <md-button class="md-icon-button" aria-label="Favorite">
                  <md-icon md-svg-icon="content:clear" ng-click="hi.resetTheLocation();" style="color: red;"></md-icon>
                </md-button>
              <!-- </div> -->
              </md-card-actions>
              <md-card-content>
                <!-- <place place="hi.theHap.location" mode='display'></place> -->
                {{hi.theHap.location.nickname}}<br>{{hi.theHap.location.name}}<br>{{hi.theHap.location.address}}
              </md-card-content>
            </md-card>
          </div>

          <div ng-show="hi.theHap.guestlist && hi.theHap.guestlist.length " flex="50" flex-sm="50" flex-xs="50" layout="column">
            <md-card ng-click="$scope.temp = hi.theHap;hi.showGuests($event)">
              <md-card-actions layout="row" layout-align="start right">
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Favorite">
                  <md-icon md-svg-icon="content:clear" ng-click="hi.resetTheGuests();" style="color: red;"></md-icon>
                </md-button>
              </md-card-actions>
              <md-card-content>
                <md-list>
                  <md-list-item ng-repeat="guest in hi.theHap.guestlist">
                    <p> {{ guest.select.username }} </p>
                </md-list>
              </md-card-content>
            </md-card>
          </div>

</div>


          <!-- <p>
            <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom" draggable="true">
              <ui-gmap-search-box template="searchbox.template" events="searchbox.events">
              </ui-gmap-search-box>
            </ui-gmap-google-map>
          </p> -->
