<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="what">
        <md-content class="md-padding">
          <h1 class="md-display-2">what</h1>
          <md-content layout-padding="">
            <p>
              <md-input-container class="md-icon-float">
                <label>name</label>
                <!-- <md-icon md-svg-src="img/ionicons-2.0.1/png/512/android-social-user.png" class="name"></md-icon> -->
                <input ng-model="hi.theHap.name" type="text" autocapitalize="off" autocorrect="off">
              </md-input-container>
            </p>
            <p>
              <md-input-container class="md-icon-float">
                <label>description</label>
                <!-- <md-icon md-svg-src="img/ionicons-2.0.1/png/512/android-social-user.png" class="name"></md-icon> -->
                <input ng-model="hi.theHap.desc" type="text" autocapitalize="off" autocorrect="off">
              </md-input-container>
            </p>
          </md-content>
        </md-content>
      </md-tab>

      <md-tab label="when">
        <md-content class="md-padding">
          <md-content layout-padding="">


            <p>
              <!-- <p> http://simeonc.github.io/sc-date-time/index.html -->
              <!-- <time-date-picker ng-model="dateValue" data-display-mode="full" orientation="true" autosave="true" class="modal-content"></time-date-picker> -->
              <md-button class="md-raised md-warn" ng-click="hi.showDatePicker($event)" aria-label="show picker">show picker</md-button>
              <div>{{ currentDate | date:'fullDate' }}</div>
            </p>
            <!-- <md-content>
              <h4>With ngMessages</h4>
              <form name="myForm">
                <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date" required md-min-date="minDate" md-max-date="maxDate" md-date-filter="onlyWeekendsPredicate"></md-datepicker>
                <div class="validation-messages" ng-messages="myForm.dateField.$error">
                  <div ng-message="valid">The entered value is not a date!</div>
                  <div ng-message="required">This date is required!</div>
                  <div ng-message="mindate">Date is too early!</div>
                  <div ng-message="maxdate">Date is too late!</div>
                  <div ng-message="filtered">Only weekends are allowed!</div>
                </div>
              </form>
            </md-content> -->

          </md-content>
        </md-content>
      </md-tab>


      <md-tab label="where">
        <md-content class="md-padding">


          <!-- <div class="row" ng-cloak>
            <h1>my places</h1>
            <div class="col-md-2">
              <input ng-model="query" placeholder="Search for...">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div ng-repeat="place in hi.placesList | filter:query">
                <place place="place"></place>
              </div>
            </div>
            <div ng-hide="hi.placesList && hi.placesList.length">
              <div class="col-sm-12 no-places-here">
                <em>You have no places yet. Use the plus button to add some.</em>
              </div>
            </div>
          </div> -->

          <div ng-show="hi.theHap.location != undefined" flex="50" flex-sm="100" flex-xs="100" layout="column">
            <md-card>
              <!-- <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">hi.theHap.nickname</span>
                  <span class="md-subhead">hi.theHap.address</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-sm card-media"></div>
                </md-card-title-media>
              </md-card-title> -->
              <md-card-content>
                <place place="hi.theHap.location" mode='display'></place>
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                  <md-icon md-svg-icon="content:clear" ng-click="hi.resetTheLocation();" style="color: red;"></md-icon>
                </md-button>
              </md-card-actions>
            </md-card>
          </div>

          <div ng-hide="hi.theHap.location != undefined">
            <places places="hi.placesList"></places>
          </div>

          <!-- <p>
            <location-picker id="location" ng-model="location" class="form-control" placeholder="Hap location" ng-required="true"></location-picker>
            <button ng-click="hi.clear()">Clear</button>
            {{ location }}
          </p> -->

          <!-- <p>
            <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom" draggable="true">
              <ui-gmap-search-box template="searchbox.template" events="searchbox.events">
              </ui-gmap-search-box>
            </ui-gmap-google-map>
          </p> -->

        </md-content>
      </md-tab>
      <md-tab label="who">
        <!-- <md-content class="md-padding">
          <h1 class="md-display-2">who</h1>
          <fieldset>
            <div class="form-group">
              <label for="hap__content">Guest List</label>
                <div ng-repeat="friend in hi.friends">
                  <input type="checkbox"
                      id="{{ friend.select.username }}"
                      checklist-model="hi.guestlist"
                      checklist-value="friend">
                  {{ friend.select.username }}
                </div>
            </div>
          </fieldset> -->


          <md-subheader class="md-no-sticky">Friends</md-subheader>
          <md-input-container class="md-icon-float">
            <input ng-model="friendsquery" placeholder="Search for...">
          </md-input-container>
          <md-virtual-repeat-container style="height: 300px">
            <md-list>
              <md-list-item md-virtual-repeat="friend in hi.friends | filter:friendsquery"
                            ng-click="hi.toggle(friend, hi.guestlist)">
                <p> {{ friend.select.username }} </p>

                <md-checkbox class="md-secondary"
                            ng-click="hi.toggle(friend, hi.guestlist)"
                            ng-checked="hi.exists(friend, hi.guestlist)"
                            id="{{ friend.select.username }}"></md-checkbox>
            </md-list>
          </md-virtual-repeat-container>

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
