<md-toolbar md-theme="altTheme">
    <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
      <!-- <h1>favorite places</h1> -->
      <md-button class="md-icon-button" aria-label="Back button" layout-align="left">
        <md-icon md-svg-icon="navigation:arrow_back" ng-click="hi.fireCancelEvent();" style="color: white;"></md-icon>
      </md-button>

      <!-- <div ng-show="hi.showFilter" flex layout-align="center" >
        <input  ng-model="friendsquery" focus-on="hi.showFilter" class="form-control"  placeholder="Filter" style="color:red;"  aria-label="Filter"  >
      </div>

      <md-button ng-show="hi.showFilter"  class="md-icon-button" layout-align="right" aria-label="Cancel Filter" >
        <md-icon md-svg-icon="content:clear" ng-click="hi.cancelFilter();" style="color: white;"></md-icon>
      </md-button>

      <div ng-hide="hi.showFilter" flex layout-align="center">
        <span ></span>
      </div>

      <md-button ng-hide="hi.showFilter" class="md-icon-button" aria-label="Filter button"  layout-align="right">
        <md-icon md-svg-icon="content:filter_list" ng-click="hi.showFilter=true" style="color: white;"></md-icon>
      </md-button> -->

    </div>

  </md-toolbar>
