<dvi>
  FRIEnds , feiends
</div>


<!-- <div class="row" ng-cloak>

  <div class="col-md-2">

    <input ng-model="query" placeholder="Search for...">
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div ng-repeat="friend in hi.list | filter:query">
      <friend friend="friend"></friend>
    </div>
  </div>

  <div ng-hide="hi.list && hi.list.length">
    <div class="col-sm-12 no-friends-here">
      <em>You have no friends yet. Use the plus button to add some.</em>
    </div>
  </div>
</div> -->
