<div>
  <label class="control-label" for="source">Add a new friend from</label>

  <div>
    <button class="btn btn-default" ng-click="hi.openNewFriendWizard('hapin')">hapin</button>
    <button class="btn btn-default" ng-click="hi.openNewFriendWizard('contacts')">contacts</button>
    <button class="btn btn-default" ng-click="hi.openNewFriendWizard('facebook')">facebook</button>
    <button class="btn btn-default" ng-click="hi.openNewFriendWizard('google')">google</button>
    <button class="btn btn-default" ng-click="hi.openNewFriendWizard('linkedin')">linkedin</button>
  </div>
</div>
