<ion-view view-title="My haps">
  <ion-content class="padding">
    <p>haps, haps, haps...</p>
  </ion-content>
</ion-view>
<mfb-menu position="br" effect="zoomin" bgcolor="#8e44ad"
     active-icon="ion-android-more-horizontal"
     resting-icon="ion-android-more-vertical"
     toggling-method="click">
  <button mfb-button bgcolor="#2980b9" label="all" icon="ion-home"></button>
  <button mfb-button bgcolor="#16a085" label="going" icon="ion-checkmark"></button>
  <button mfb-button bgcolor="#f1c40f" label="invited" icon="ion-help"></button>
  <button mfb-button bgcolor="#F44336" label="open" icon="ion-map"></button>
</mfb-menu>
