/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    outline: none;
    /*outline affects all elements, not just menu list*/

}

a:focus {
  /*outline: 0;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;*/
  outline: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.menubar {
    box-shadow: 3px 0px 30px 0px rgba(75, 75, 75, 0.82);
    overflow:hidden;
    top:64px;
}

#side-menu {
    padding: 0;
    margin: 0;
}

#side-menu li{
    font-size: 18px;
    color: #414141;
    display: block;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card {
    display: inline-block;
    vertical-align: top;
    /*width: 350px;*/
    width: calc(100% - 20px);
    position: relative;
    overflow: hidden;
    margin: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px;
}
.card .title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
}
.card .content {
    padding: 20px;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
    box-sizing: border-box;
}
.card p {
    margin: 0;
}
.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}
.card a {
    color: #ffab40;
    margin-right: 20px;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
}
/*angular material, input box*/
.inputdemoIcons .inputIconDemo {
  min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; }
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: red; }
  /*end eangular material, input box*/

/*angular-google-maps container for the map*/
.angular-google-map-container {
  height: 300px; // Or whatever pixel value you require :)
}

.img-circle {
    border-radius: 50%;
}

.animate-slide {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  /*line-height:20px;*/
  opacity:1;
  /*padding:10px;*/
  /*border:1px solid black;*/
  background:white;
  position: relative;
  left: 0;
}

/*.animate-slide.ng-hide {
  left: -100%;
  opacity:0;
  padding:0 10px;
}*/

.animate-slide.move-left {
  left: -100%;
  opacity:0;
  /*padding:0 10px;*/
  background: green;
}

.animate-slide.move-right {
  left: 100%;
  opacity:0;
  padding:0 10px;
  background: red;
}

.animate-slide.move-up {
  top: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ease-up {
    0%   {top: 0%; }
    100% {top: 100%; }
}

/* Standard syntax */
@keyframes ease-up  {
  0%   {top: 0%; }
  100% {top: 100%; }
}
