

<div class="row" ng-cloak>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div ng-repeat="friend in vm.list">
      <friend friend="friend"></friend>
    </div>
  </div>

  <div class="row">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="friend in vm.list">
            {{friend.alias}}
          </li>
        </ul>
  </div>

  <div ng-hide="vm.list && vm.list.length">
    <div class="col-sm-12 no-friends-here">
      <em>You have no friends yet. You are a loser!</em>
    </div>
  </div>
</div>

<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-hap"
  href="javascript:void(0)"
  ng-show="vm.isAuthenticated"
  ng-dialog="/static/templates/friends/new-friend.html"
  ng-dialog-controller="NewHapController as vm"></a>
