
<label class="control-label" for="source">Add a new friend from</label>

<div>
  <button class="btn btn-default" ng-click="vm.openNewFriendWizard('hapin')">hapin</button>
  <button class="btn btn-default" ng-click="vm.openNewFriendWizard('contacts')">contacts</button>
  <button class="btn btn-default" ng-click="vm.openNewFriendWizard('facebook')">facebook</button>
  <button class="btn btn-default" ng-click="vm.openNewFriendWizard('google')">google</button>
  <button class="btn btn-default" ng-click="vm.openNewFriendWizard('linkedin')">linkedin</button>
</div>
