<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="modal.dismiss('No bueno!')"  aria-hidden="true">&times;</button>
	<h3>Add a new friend</h3>
</div>
<div class="modal-body">
	<div>
		<div class="btn-group">
			<button class="btn" ng-class="{'btn-primary':modal.isCurrentStep(0)}" ng-click="modal.setCurrentStep(0)">Source</button>
			<button class="btn" ng-class="{'btn-primary':modal.isCurrentStep(1)}" ng-click="modal.setCurrentStep(1)">Find</button>
			<button class="btn" ng-class="{'btn-primary':modal.isCurrentStep(2)}" ng-click="modal.setCurrentStep(2)">Alias</button>
		</div>
		<div ng-switch="modal.getCurrentStep()" class="slide-frame">
      <div ng-switch-when="one" class="wave">
        <fieldset>
          <div class="form-group">
            <label class="control-label" for="source">From where?</label>
            <div class="controls">
              <select class="form-control" id="source" ng-model="modal.wizard.source">
                <option>hapin</option>
                <option>contacts</option>
                <option>facebook</option>
                <option>google plus</option>
                <option>linkedin</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>

			<div ng-switch-when="two" class="wave">
				<fieldset>
					<div class="form-group">
						<label class="control-label" for="username">username</label>
						<div>
							<input class="form-control" type="text" class="input-xlarge" id="username" ng-model="modal.wizard.username" placeholder="Search for username">
						</div>
					</div>
          <button type="search" class="btn btn-default">SEARCH</button>
				</fieldset>
			</div>

			<div ng-switch-when="three" class="wave">
				<fieldset>
          <div class="form-group">
						<label class="control-label" for="alias">Alias</label>
						<div>
							<input class="form-control" type="text" class="input-xlarge" id="alias" ng-model="modal.wizard.alias" placeholder={{modal.wizard.firstName}}>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<a class="btn btn-default" ng-click="modal.handlePrevious()" ng-show="!modal.isFirstStep()">Back</a>
	<a class="btn btn-primary" ng-click="modal.handleNext()">{{modal.getNextLabel()}}</a>
</div>
